@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}


.logo {
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 30%;
    /* border: 3px solid white; */
    border-radius: 10px;
}

.navbar {
    /* flex - element direction row */
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list {
    width: 50%;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

.nav-list li {
    /* to remove list . */
    list-style: none;
    padding: 20px 30px;
}

.nav-list li a {
    /* to remove underline */
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;

}

.nav-list li a:hover {
    /* to remove underline */
    color: rgb(227, 81, 13);
}

.rightNav {
    /* background-color: brown; */
    width: 50%;
    text-align: right;
    padding: 0 30px;
}

#search {
    padding: 10px 30px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
    margin: 0 10px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url(../images/RISCV_Backgraound.jpeg);
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 60%;
    margin: auto;
    height: 80%;

}

.firstHalf {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf {
    width: 30%;
}

.secondHalf img {
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big {
    font-size: 50px;
}

.text-small {
    font-size: 20px;
}

.btn {
    padding: 10px 50px;
    font-size: 18px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px 3px;
    background: none;
    color: white;
    cursor: pointer;

    font-family: "Ubuntu", sans-serif;


}

.btn-sm {
    padding: 8px 10px;
    vertical-align: middle;
}

.section {
    height: 447px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;

    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section-Left {

    flex-direction: row-reverse;
}

.section-Up {
    flex-direction: column;
    padding-top: 450px;
    padding-bottom: 450px;
}

.text-mid {
    font-size: 40px;
}

.paras {
    padding: 45px 45px;
}

.sectionTag {
    padding-bottom: 10px;
}

.sectionSubTag {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.risc-v img {
    width: 350px;
}

.micro-archi img {
    width: 1440px;
    border: 2px solid black;
}

.thumbnail img {
    width: 250px;
    border: 2px solid black;
    border-radius: 60px;
    margin-top: 50px;
}

.contact {
    background-color: rgb(237, 241, 245);
    height: 824px;
}

.text-center {
    text-align: center;
    padding: 22px 0 0 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 37px;
}

.form {
    max-width: 1200px;
    margin: 25px auto;
}

.form-input {
    margin: 20px 0;
    padding: 9px 12px;
    width: 100%;
    font-size: 25px;
    border: 2px solid gray;
    border-radius: 6px;
}

.dark-btn {
    color: black;
    border: 2px solid gray;
}

.text-footer {
    text-align: center;
    justify-content: center;
    padding: 20px 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    color: white;
}